.EnterTitle{
    font-family: 'Fredericka the Great',cursive ;
    font-size:10.5em;
    color:white;
    text-align:center;
    
}

.EnterButton{
    font-family: 'Nosifer', cursive ;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    height:200px;
    font-size:2em;
    background: rgba(255,255,255,0);
    box-shadow:10px 5px 5px  ghostwhite;
    color: ghostwhite;
    
}

.EnterScreen{
    background-image: url(https://zupimages.net/up/19/44/64ha.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:1000px;;
    display: flex;
    flex-direction: column;
}

.EnterScreen .EcranAccueil{
    display:flex;
    flex-direction:column;
}
 .titleEnterDiv{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
} 
.EnterScreen .recPoint{
    width: 15%;
    height: 15%;
    
    
}
.recPoint{
    margin-top:11%;
    height:100px;
}


@media only screen and (max-width: 600px){
    .recPoint{
        margin-top:55%;
        
    }
    .EnterTitle{
        font-family: 'Fredericka the Great',cursive ;
        font-size:5.5em;
        color:white;
        text-align:center;
        margin-top:50%; 
        margin-left:5%;       
    }
    .titleEnterDiv{
        margin-left:0;
        margin-right:5%;
    }
    
    .EnterButton{
        font-family: 'Nosifer', cursive ;
        width:75%;
        margin-left:12%;
        margin-right:12%;
        height:200px;
        font-size:1.5em;

        
    }
}