.movieCard{
    border:1px solid white;
    width:90%;
    display:flex;
    margin-left:5%;
    margin-right:5%;
    justify-content:space-between;
    padding:1%;
    margin-bottom:1%;
}

.description{
    color:white;
    font-family: 'Fredericka the Great',cursive;
    font-size:1.5em;
    width:560px;
    margin-left:20px;
}

h2{
    font-family: 'Fredericka the Great',cursive;
    font-size:1.5em;
    margin-top:0;
}

.affiche{
    width:230px;
}
.texte{
    margin-top:0
}

